<h1>
  <i class="fa fa-id-card mr-1"></i>{{patient.lastName}}, {{patient.firstName}}
  <button mat-raised-button routerLink="../">
    <i class="fas fa-arrow-left float-right mr-1"></i>Patient Profile</button>
</h1>

<div class="card spur-card">
  <div class="card-body">
    <table class="table table-hover table-in-card">
      <thead>
        <tr>
          <th class="mat-subheading-2">Lab Type</th>
          <th class="mat-subheading-2">Lab Value</th>
          <th class="mat-subheading-2">Date</th>
          <th class="mat-subheading-2">History</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let labType of labTypes; let i = index">
          <td>{{labType.labType}}</td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Enter Lab Value</mat-label>
              <input matInput type="number" name="labValue" (click)="initializeLabs()"
                (keyup)="onValueChanged(i, $event)">
            </mat-form-field>
          </td>
          <td><i class="fas fa-calendar-alt mr-1"></i>Today</td>
          <td>View Lab History</td>
        </tr>
        <tr>
          <button mat-raised-button color="primary" (click)="postLabs()">
            <i class="fas fa-clipboard-check"></i>&nbsp;&nbsp;Post Labs</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>