<h1>
  <i class="fas fa-user mr-3"></i>{{patient.lastName}}, {{patient.firstName}}
  <button mat-raised-button class="float-right" routerLink="../">
    <i class="fas fa-arrow-left mr-3"></i>Patient Profile</button>
</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th class="mat-subheading-2">Type</th>
      <th class="mat-subheading-2">Value</th>
      <th class="mat-subheading-2">History</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let labType of labTypes; let i = index">
      <td>{{labType.labType}}</td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Enter Lab Value</mat-label>
          <input matInput type="number" name="labValue" (click)="initializeLabs()" (keyup)="onValueChanged(i, $event)">
        </mat-form-field>
      </td>
      <td>View Lab History</td>
    </tr>
  </tbody>
</table>

<p>
  <button mat-raised-button color="primary" class="btn-block" (click)="postLabs()">
    <i class="fas fa-clipboard-check mr-3"></i>Create Labs</button>
</p>