<h1 class="bg-dark text-white font-weight-normal m-0 py-2 px-3 rounded-top">
  <i class="fa fa-id-card"></i>&nbsp;&nbsp;Patients
  <a class="btn btn-primary float-right border-0 my-1 py-2 px-3" routerLink="new"><i class="fa fa-user-plus"></i> Add
    New Patient</a>
</h1>

<table id="example" class="table table-responsive-sm table-hover">
  <thead class="bg-secondary text-white ">
    <tr>
      <th class="border-0 py-2 px-3">Last Name</th>
      <th class="border-0 py-2 px-3">First Name</th>
      <th class="border-0 py-2 px-3">Patient ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" routerLink="{{patient.patientID}}">
      <td class="py-2 px-3">{{patient.lastName}}</td>
      <td class="py-2 px-3">{{patient.firstName}}</td>
      <td class="py-2 px-3">{{patient.patientID}}</td>
    </tr>
  </tbody>
</table>