<div id="container" class="shadow">
  <h1 class="bg-dark"><i class="fa fa-id-card"></i>&nbsp;&nbsp;Patients</h1>
  <input class="" id="myInput" type="text" placeholder="Search..">

  <table id="example" class="table table-responsive-sm table-hover">
    <thead class="text-white bg-secondary">
      <tr>
        <th>Patient</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody id="patient-list-container" class="myTable"></tbody>
  </table>
</div>