body {
    background: #2BC0E4;                                                 /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);    /* Chrome 10-25, Safari 5.1-6 */
    background:         linear-gradient(to left, #D4D3DD, #EFEFBB);    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* The 3 lines of code above is from https://uigradients.com/#BoraBora - This code adds background gradient to body element */   
    font-family: Roboto;
        /* The line of code above makes everythiing in HTML body tag Roboto font */
}

#container {                                  /* CSS for HTML div with ID of "container" */
    width: 80%;
    margin: 25px auto;            /* 100px margin on top & bottom of HTML div. Auto margin on left and right centers the HTML div.*/
    background: #f7f7f7;                    /* Sets div background color to light gray */
}

h1 {
    color: white;             /* Color of h1 text */
    margin: 0;                  /* Gets rid of space around the h1 element */
    padding: 10px 20px;         /* 10px for top & bottom. 20px for left & right */
    text-transform: uppercase;  /* Makes all text uppercase */
    font-size: 30px;
    font-weight: normal;        /* Changes the default bolded font weight of h1 to a normal weight*/
}

h2 {
    color: white;             /* Color of h1 text */
    margin: 0;                  /* Gets rid of space around the h1 element */
    padding: 0 8px;         /* 10px for top & bottom. 20px for left & right */
    text-transform: uppercase;  /* Makes all text uppercase */
    font-size: 24px;
    font-weight: normal;        /* Changes the default bolded font weight of h1 to a normal weight*/
}

input {                                   /* Styles HTML input form */
    font-size: 18px;
    color: #fea745;                     /* Sets font color to same color as h1 background color */
    background-color: #f7f7f7;          /* Sets background color to light gray */
    width: 100%;                          /* Sets HTML input form to stretch to 100 percent of the div element it is nested in */
                                          /* NOTE: The width attribute refers to the length of the content of the element, and DOES NOT include the padding and margin */
    padding: 8px 8px 8px 17px;         /* Adds more left padding than other sides */
    box-sizing: border-box;               /* Sets width of HTML form to include padding and border but NOT margin */
    border: 3px solid rgba(0, 0, 0, 0); /* Changes default border of HTML input form to an invisible border */
}

ul {
    list-style: none;           /* Changes default bullet list to no bullets */
    margin: 0;
    padding: 0;
}

li {
    background: #fff;         /* Makes background of all li elements white */
    height: 40px;               /* Changes li element height to  */
    line-height: 40px;          /* Vertically center line in li element by changing the line height to the same value as li height */
    color: #666;              /* Changes text to lighter color */
}

li:nth-child(2n){               /* Style every other li element */
    background: #f7f7f7;      /* Color of li element is light gray */ 
}

.patient-list-header span {
    background: #666;      /* Changes background color of span to red color */
    height: 40px;               /* Sets height of span to equal 40px which is equal to li height */
    margin: 0;        /* Adds space to left of span element */
    float: left;
    width: 25%;
    text-align: center;
    color: white;
}

.patient-list-container span {
    background: #fff;      /* Changes background color of span to red color */
    height: 40px;               /* Sets height of span to equal 40px which is equal to li height */
    margin: 0;        /* Adds space to left of span element */
    float: left;
    width: 25%;
    text-align: center;
}