<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z6 bg-dark" #sidenav mode="side" [(opened)]="opened">
        <div>
            <header class="p-4">
                <!-- <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a> -->
                <a routerLink="" class="spur-logo">
                    <i class="fas fa-heartbeat text-danger"></i><span class="text-white">Strand</span></a>
            </header>
            <nav class="align-middle">
                <a routerLink="" class="dash-nav-item text-white">
                    <i class="fas fa-clinic-medical"></i>Overview</a>
                <a routerLink="patients" class="dash-nav-item text-white">
                    <i class="fas fa-users"></i>Patients</a>
                <a routerLink="labs" class="dash-nav-item text-white">
                    <i class="fas fa-vials"></i>Labs</a>
            </nav>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="container-fluid mb-5 mat-elevation-z6">
            <button mat-button class="menu-toggle" (click)="sidenav.toggle()">
                <i class="fas fa-bars"></i></button>
            <div class="tools">
                <div>
                    <i class="fas fa-search mr-2"></i>Search
                    <mat-form-field class="mx-2">
                        <input matInput>
                    </mat-form-field>
                </div>
                <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-user fa-lg"></i></button>
                <mat-menu #menu="matMenu">
                    <button routerLink="login" mat-menu-item>
                        <i class="fas fa-sign-out-alt mr-2"></i>Logout</button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <div id="mini">
            <mat-card class="mb-5">
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>