<h1>
  <i class="fas fa-user mr-3"></i>{{patient.lastName}}, {{patient.firstName}}
  <div class="btn-group float-right">
    <button mat-raised-button class="mr-3" routerLink="../">
      <i class="fas fa-arrow-left mr-3"></i>Patients</button>
    <button *ngIf="isVisible" mat-raised-button class="mr-3" (click)="isVisible = !isVisible">
      <i class="fas fa-edit mr-3"></i>Edit Past Labs<Label></Label></button>
    <button *ngIf="!isVisible" mat-raised-button class="mr-3" (click)="isVisible = !isVisible">
      <i class="fas fa-user mr-3"></i>Patient Profile<Label></Label></button>
    <button mat-raised-button color="primary" routerLink="lab">
      <i class="fas fa-vial mr-3"></i>Add Labs<Label></Label></button>
  </div>
</h1>

<table *ngIf="isVisible" class="table table-hover">
  <thead>
    <tr>
      <th class="mat-subheading-2">Type</th>
      <th class="mat-subheading-2">Value</th>
      <th class="mat-subheading-2">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lab of labs">
      <td>{{lab.labType}}</td>
      <td>{{lab.labValue}}</td>
      <td>{{lab.date | date: 'MM/dd/yyyy'}}<br>{{lab.date | date: 'hh:mm aa'}}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="!isVisible" class="table table-hover">
  <thead>
    <tr>
      <th class="mat-subheading-2">Type</th>
      <th class="mat-subheading-2">Value</th>
      <th class="mat-subheading-2">Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lab of labs; let i = index">
      <td>{{lab.labType}}</td>
      <td>{{lab.labValue}}</td>
      <td>{{lab.date | date: 'MM/dd/yyyy'}}<br>{{lab.date | date: 'hh:mm aa'}}</td>
      <td>
        <button mat-raised-button color="warn" (click)="softDeleteLab(i)">
          <i class="fas fa-times"></i><Label></Label></button></td>
    </tr>
  </tbody>
</table>