<h1 class="dash-title">
  <i class="fa fa-id-card"></i>&nbsp;&nbsp;View Patients
  <a class="btn btn-primary float-right border-0 my-1 py-2 px-3" routerLink="new"><i class="fa fa-user-plus"></i> Add
    New Patient</a>
</h1>

<table id="example" class="table table-hover table-in-card">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Patient ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" routerLink="{{patient.patientID}}">
      <td>{{patient.lastName}}</td>
      <td>{{patient.firstName}}</td>
      <td>{{patient.patientID}}</td>
    </tr>
  </tbody>
</table>